In [1]:
import pandas as pd 
import matplotlib.pyplot as plt 
import numpy as np 
from sklearn.model_selection import cross_val_score

In [4]:
df = pd.read_csv('glassdoor_data_preprocessed.csv')
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,SQL,Spark,AWS,Tableau,PowerBi,Excel,job_category,seniority,description_length,no_of_comp
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research\r\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973.0,Company - Private,...,0,0,0,1,1,1,data scientist,na,2555,0
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System\r\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984.0,Other Organization,...,0,0,0,0,0,0,data scientist,na,4828,0
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\r\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010.0,Company - Private,...,1,1,0,0,0,1,data scientist,na,3495,0
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\r\nJob ID: 310709\r...,3.8,PNNL\r\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965.0,Government,...,0,0,0,0,0,0,data scientist,na,3926,3
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\r\nAffinity Solutions / Marketi...,2.9,Affinity Solutions\r\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998.0,Company - Private,...,1,0,0,0,0,1,data scientist,na,2748,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
725,Senior Scientist - Regulatory Submissions,$80K-$155K (Glassdoor est.),British American Tobacco\r\nReynolds American ...,3.1,Reynolds American\r\n3.1,"Winston-Salem, NC","Winston-Salem, NC",5001 to 10000 employees,1875.0,Company - Private,...,0,0,0,0,0,1,na,senior,7444,0
726,Scientist - Biomarker and Flow Cytometry,$43K-$98K (Glassdoor est.),"Crown Bioscience, a JSR Life Sciences company,...",2.4,Crown Bioscience\r\n2.4,"San Diego, CA","San Diego, CA",501 to 1000 employees,2006.0,Company - Private,...,0,0,0,0,0,0,na,na,3401,0
727,Revenue Analytics Manager,$45K-$78K (Glassdoor est.),HOVER uses patented technology making it possi...,4.8,HOVER\r\n4.8,"San Francisco, CA","San Francisco, CA",51 to 200 employees,2011.0,Company - Private,...,1,0,0,1,0,1,manager,na,3721,0
728,Sr. Scientist Method Development,$50K-$110K (Glassdoor est.),Q2 Solutions is a leading clinical trial labor...,2.9,Q2 Solutions\r\n2.9,"Marietta, GA","Morrisville, NC",1001 to 5000 employees,2015.0,Company - Private,...,0,0,0,0,0,1,na,senior,4654,0
729,"Associate Scientist, LC/MS Biologics",$44K-$96K (Glassdoor est.),Q2 Solutions is a leading clinical trial labor...,2.9,Q2 Solutions\r\n2.9,"Ithaca, NY","Morrisville, NC",1001 to 5000 employees,2015.0,Company - Private,...,0,0,0,0,0,1,na,na,4755,0

In [5]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'Hourly_salary', 'Employer_provided_salary', 'min_salary', 'max_salary',
       'avg_salary', 'company_txt', 'state', 'same_state', 'age', 'Python',
       'R', 'SQL', 'Spark', 'AWS', 'Tableau', 'PowerBi', 'Excel',
       'job_category', 'seniority', 'description_length', 'no_of_comp'],
      dtype='object')

In [6]:
cor=df.corr()
cor

,Rating,Founded,Hourly_salary,Employer_provided_salary,min_salary,max_salary,avg_salary,same_state,age,Python,R,SQL,Spark,AWS,Tableau,PowerBi,Excel,description_length,no_of_comp
Rating,1.000000,0.314952,-0.021399,-0.441067,-0.007650,0.026366,0.015544,0.080373,0.016386,0.135543,-0.004973,0.127594,0.155803,0.109772,-0.003146,0.038721,-0.026120,-0.021370,0.017846
Founded,0.314952,1.000000,0.049071,-0.294527,-0.016106,0.023743,-0.004131,0.164354,0.135954,0.094500,0.016012,0.043297,0.063030,-0.018464,0.057558,0.054605,-0.026624,0.073841,0.188658
Hourly_salary,-0.021399,0.049071,1.000000,0.129808,0.026621,-0.044467,-0.251372,-0.068822,0.007789,-0.195845,-0.009664,-0.190018,-0.099637,-0.029956,-0.054269,-0.053146,-0.100366,-0.073108,-0.118481
Employer_provided_salary,-0.441067,-0.294527,0.129808,1.000000,0.228689,0.057372,0.093190,-0.074727,-0.106930,-0.102770,-0.007846,-0.135557,-0.080896,0.005074,-0.005177,-0.043149,0.068352,-0.102866,-0.114220
min_salary,-0.007650,-0.016106,0.026621,0.228689,1.000000,0.936152,0.939214,-0.062543,0.014095,0.288996,-0.045552,-0.026203,0.146821,0.167433,-0.070387,-0.039828,-0.099233,0.039970,0.051170
max_salary,0.026366,0.023743,-0.044467,0.057372,0.936152,1.000000,0.966337,-0.044770,0.045528,0.264940,-0.045445,-0.055180,0.155185,0.170158,-0.114303,-0.069870,-0.093934,0.056092,0.062366
avg_salary,0.015544,-0.004131,-0.251372,0.093190,0.939214,0.966337,1.000000,-0.041151,0.028849,0.317654,-0.042638,0.002149,0.173399,0.176402,-0.078090,-0.044265,-0.070250,0.071086,0.085043
same_state,0.080373,0.164354,-0.068822,-0.074727,-0.062543,-0.044770,-0.041151,1.000000,-0.163298,0.000962,-0.059164,0.123350,-0.055725,-0.067420,0.045695,0.068699,0.102410,0.067106,-0.099634
age,0.016386,0.135954,0.007789,-0.106930,0.014095,0.045528,0.028849,-0.163298,1.000000,-0.094684,-0.016676,-0.115032,-0.101815,-0.036679,-0.054915,0.020558,0.042377,0.160721,0.126924
Python,0.135543,0.094500,-0.195845,-0.102770,0.288996,0.264940,0.317654,0.000962,-0.094684,1.000000,0.049345,0.371630,0.351261,0.199306,0.151052,0.168233,-0.016386,0.016368,0.091737
R,-0.004973,0.016012,-0.009664,-0.007846,-0.045552,-0.045445,-0.042638,-0.059164,-0.016676,0.049345,1.000000,0.050858,-0.028325,-0.029100,0.104382,-0.015108,0.050165,-0.036222,0.016806
SQL,0.127594,0.043297,-0.190018,-0.135557,-0.026203,-0.055180,0.002149,0.123350,-0.115032,0.371630,0.050858,1.000000,0.255669,0.105976,0.377869,0.248789,0.113909,0.023216,0.059172
Spark,0.155803,0.063030,-0.099637,-0.080896,0.146821,0.155185,0.173399,-0.055725,-0.101815,0.351261,-0.028325,0.255669,1.000000,0.301933,-0.018180,-0.045011,-0.046660,0.044401,0.067985
AWS,0.109772,-0.018464,-0.029956,0.005074,0.167433,0.170158,0.176402,-0.067420,-0.036679,0.199306,-0.029100,0.105976,0.301933,1.000000,0.002933,0.034027,-0.017899,0.128550,-0.024859
Tableau,-0.003146,0.057558,-0.054269,-0.005177,-0.070387,-0.114303,-0.078090,0.045695,-0.054915,0.151052,0.104382,0.377869,-0.018180,0.002933,1.000000,0.458519,0.152347,0.082397,0.016642
PowerBi,0.038721,0.054605,-0.053146,-0.043149,-0.039828,-0.069870,-0.044265,0.068699,0.020558,0.168233,-0.015108,0.248789,-0.045011,0.034027,0.458519,1.000000,0.069788,0.057285,0.029209
Excel,-0.026120,-0.026624,-0.100366,0.068352,-0.099233,-0.093934,-0.070250,0.102410,0.042377,-0.016386,0.050165,0.113909,-0.046660,-0.017899,0.152347,0.069788,1.000000,0.131334,-0.022583
description_length,-0.021370,0.073841,-0.073108,-0.102866,0.039970,0.056092,0.071086,0.067106,0.160721,0.016368,-0.036222,0.023216,0.044401,0.128550,0.082397,0.057285,0.131334,1.000000,0.097677
no_of_comp,0.017846,0.188658,-0.118481,-0.114220,0.051170,0.062366,0.085043,-0.099634,0.126924,0.091737,0.016806,0.059172,0.067985,-0.024859,0.016642,0.029209,-0.022583,0.097677,1.000000

In [7]:
cor_target = abs(cor["avg_salary"])
cor_target.sort_values()

SQL                         0.002149
Founded                     0.004131
Rating                      0.015544
age                         0.028849
same_state                  0.041151
R                           0.042638
PowerBi                     0.044265
Excel                       0.070250
description_length          0.071086
Tableau                     0.078090
no_of_comp                  0.085043
Employer_provided_salary    0.093190
Spark                       0.173399
AWS                         0.176402
Hourly_salary               0.251372
Python                      0.317654
min_salary                  0.939214
max_salary                  0.966337
avg_salary                  1.000000
Name: avg_salary, dtype: float64

In [41]:
df_model = df[['avg_salary','Size','Type of ownership','Industry','Sector','Revenue','no_of_comp','Hourly_salary','Employer_provided_salary','state','same_state','Python','R','Spark','SQL','AWS','Excel','Tableau','PowerBi','job_category','seniority','description_length']]
df_dum = pd.get_dummies(df_model)
df_dum

,avg_salary,no_of_comp,Hourly_salary,Employer_provided_salary,same_state,Python,R,Spark,SQL,AWS,...,job_category_analyst,job_category_data engineer,job_category_data scientist,job_category_director,job_category_manager,job_category_mle,job_category_na,seniority_jr,seniority_na,seniority_senior
0,72.0,0,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
1,87.5,0,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
2,85.0,0,0,0,1,1,0,1,1,0,...,0,0,1,0,0,0,0,0,1,0
3,76.5,3,0,0,1,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
4,114.5,3,0,0,1,1,0,0,1,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
725,117.5,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
726,70.5,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
727,61.5,0,0,0,1,0,0,0,1,0,...,0,0,0,0,1,0,0,0,1,0
728,80.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
729,70.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0

In [42]:
# get the values for axis ----- categories on x and avg salary on y
X = df_dum.drop('avg_salary', axis =1)
Y=df_dum.avg_salary.values

In [43]:
# split data into train and test
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test=  train_test_split(X,Y,test_size=0.2, random_state= 42)

In [44]:
# multiple linear regression
from sklearn import linear_model
ml_regr = linear_model.LinearRegression()
ml_regr.fit(X_train, Y_train)

#multiple linear regression evaluation
cross_val_score_ml =np.mean(cross_val_score(ml_regr,X_train,Y_train, scoring = 'neg_mean_absolute_error', cv= 3))
print('Mean error for Ml',cross_val_score_ml)

Mean error for Ml -45078646.418192945

In [56]:
# Lasso regressor
from sklearn.linear_model import Lasso

alpha = []
error = []
for i in range(1,100):
    alpha.append(i/100)
    Lasso_regr = Lasso(alpha=(i/100))
    error.append(np.mean(cross_val_score(Lasso_regr,X_train,Y_train, scoring = 'neg_mean_absolute_error', cv= 3)))
  
df_err = pd.DataFrame(zip(alpha,error), columns = ['alpha','error'])
print(df_err[df_err.error == max(df_err.error)])

C:\Users\primi\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 88.01529547042446, tolerance: 58.35150358974359
  positive)

   alpha      error
5   0.06 -19.530064

In [57]:
Lasso_regr = Lasso(alpha=0.06)
Lasso_regr.fit(X_train,Y_train)
print('mean error for lasso: ',np.mean(cross_val_score(Lasso_regr,X_train,Y_train, scoring = 'neg_mean_absolute_error', cv= 3)))

mean error for lasso:  -19.530064115942878

In [58]:
from sklearn.linear_model import Ridge
alpha = []
error = []
for i in range(1,100):
    alpha.append(i/100)
    Ridge_regr = Ridge(alpha=(i/100))
    error.append(np.mean(cross_val_score(Ridge_regr,X_train,Y_train, scoring = 'neg_mean_absolute_error', cv= 3)))
    
df_err = pd.DataFrame(zip(alpha,error), columns = ['alpha','error'])
print(df_err[df_err.error == max(df_err.error)])

    alpha      error
98   0.99 -19.174716

In [60]:
Ridge_regr = Ridge(alpha=.99)
Ridge_regr.fit(X_train,Y_train)
print('mean error for Ridge: ',np.mean(cross_val_score(Ridge_regr,X_train,Y_train, scoring = 'neg_mean_absolute_error', cv= 3)))

mean error for Ridge:  -19.174716006287706

In [47]:
# Support vector regression
from sklearn.svm import SVR
svr_regr=SVR(kernel='poly')
svr_regr.fit(X_train,Y_train)

print('mean error for SVR: ',np.mean(cross_val_score(svr_regr,X_train,Y_train, scoring = 'neg_mean_absolute_error', cv= 3)))

mean error for SVR:  -30.15167654398404

In [61]:
# decision tree regresson
from sklearn.tree import DecisionTreeRegressor
ds_regr = DecisionTreeRegressor(random_state = 0)
ds_regr.fit(X_train, Y_train)
print('mean error for Decision tree: ',np.mean(cross_val_score(ds_regr,X_train,Y_train, scoring = 'neg_mean_absolute_error', cv= 3)))

mean error for Decision tree:  -17.53467706405851

In [71]:
# random forest regresson
from sklearn.ensemble import RandomForestRegressor
rf_regr = RandomForestRegressor()
rf_regr.fit(X_train,Y_train)
print('mean error for Random Forest Regressor: ',np.mean(cross_val_score(rf_regr,X_train,Y_train, scoring = 'neg_mean_absolute_error', cv= 3)))

mean error for Random Forest Regressor:  -15.685404044409196

In [72]:
rf1 = RandomForestRegressor()
parameters = {'n_estimators':range(10,300,10), 'criterion':('mse','mae'), 'max_features':('auto','sqrt','log2')}


#Tuning the random forest regression with RandomizedSearchCV
from sklearn.model_selection import RandomizedSearchCV
clf = RandomizedSearchCV(rf1, parameters, n_iter=170, cv=3, random_state=1)
clf.fit(X_train, Y_train)

RandomizedSearchCV(cv=3, error_score=nan,
                   estimator=RandomForestRegressor(bootstrap=True,
                                                   ccp_alpha=0.0,
                                                   criterion='mse',
                                                   max_depth=None,
                                                   max_features='auto',
                                                   max_leaf_nodes=None,
                                                   max_samples=None,
                                                   min_impurity_decrease=0.0,
                                                   min_impurity_split=None,
                                                   min_samples_leaf=1,
                                                   min_samples_split=2,
                                                   min_weight_fraction_leaf=0.0,
                                                   n_estimators=100,
                                                   n_jobs=None, oob_score=False,
                                                   random_state=None, verbose=0,
                                                   warm_start=False),
                   iid='deprecated', n_iter=170, n_jobs=None,
                   param_distributions={'criterion': ('mse', 'mae'),
                                        'max_features': ('auto', 'sqrt',
                                                         'log2'),
                                        'n_estimators': range(10, 300, 10)},
                   pre_dispatch='2*n_jobs', random_state=1, refit=True,
                   return_train_score=False, scoring=None, verbose=0)

In [73]:
clf.best_estimator_

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mae',
                      max_depth=None, max_features='sqrt', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=190, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [74]:
print('mean error for Random Forest Regressor after tuning: ',np.mean(cross_val_score(clf.best_estimator_,X_train,Y_train, scoring = 'neg_mean_absolute_error', cv= 3)))

mean error for Random Forest Regressor after tuning:  -15.373983042790693

In [80]:
from sklearn.model_selection import GridSearchCV
ds1 = DecisionTreeRegressor()
parameters_ds = { 'criterion':('mse','mae','friedman_mse'), 'max_features':('auto','sqrt','log2'),'splitter':('best', 'random'),}
#Tuning the random forest regression with RandomizedSearchCV
from sklearn.model_selection import RandomizedSearchCV
clf1 = GridSearchCV(ds1, parameters_ds,cv=3)
clf1.fit(X_train, Y_train)

GridSearchCV(cv=3, error_score=nan,
             estimator=DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse',
                                             max_depth=None, max_features=None,
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             presort='deprecated',
                                             random_state=None,
                                             splitter='best'),
             iid='deprecated', n_jobs=None,
             param_grid={'criterion': ('mse', 'mae', 'friedman_mse'),
                         'max_features': ('auto', 'sqrt', 'log2'),
                         'splitter': ('best', 'random')},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [81]:
clf1.best_estimator_

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mae', max_depth=None,
                      max_features='sqrt', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='random')

In [82]:
print('mean error for Ds after tuning: ',np.mean(cross_val_score(clf1.best_estimator_,X_train,Y_train, scoring = 'neg_mean_absolute_error', cv= 3)))

mean error for Ds after tuning:  -19.40215437483479

In [83]:
ml_pred = ml_regr.predict(X_test)
lasso_pred= Lasso_regr.predict(X_test)
ridge_pred= Ridge_regr.predict(X_test)
svr_pred= svr_regr.predict(X_test)
ds_pred= ds_regr.predict(X_test)
rf_pred= rf_regr.predict(X_test)
clf_pred = clf.best_estimator_.predict(X_test)
clf_pred1 = clf1.best_estimator_.predict(X_test)

In [26]:
from sklearn.metrics import mean_absolute_error
print('MAE for ml >',mean_absolute_error(Y_test,ml_pred))
print('MAE for lasso >',mean_absolute_error(Y_test,lasso_pred))
print('MAE for ridge >',mean_absolute_error(Y_test,ridge_pred))
print('MAE for svr >',mean_absolute_error(Y_test,svr_pred))
print('MAE for ds >',mean_absolute_error(Y_test,ds_pred))
print('MAE for rf >',mean_absolute_error(Y_test,rf_pred))
print('MAE for rf after tuning >',mean_absolute_error(Y_test,clf_pred))
print('MAE for ds after tuning >',mean_absolute_error(Y_test,clf_pred1))

MAE for ml > 18.54227643842502
MAE for lasso > 18.851120149881506
MAE for ridge > 18.522455951534408
MAE for svr > 27.78069196955404
MAE for ds > 11.08904109589041
MAE for rf > 11.127191780821917
MAE for rf after tuning > 11.087256669069935
MAE for ds after tuning > 11.32876712328767

In [84]:
import pickle
pickl = {'model': clf.best_estimator_}
pickle.dump( pickl, open( 'salary_predict' + ".p", "wb" ) )

In [85]:
file_name = "salary_predict.p"
with open(file_name, 'rb') as pickled:
    data = pickle.load(pickled)
    model = data['model']

In [87]:
# compare predicted and actual value
r_no=110  # Row number you want to compare
print(model.predict(np.array(list(X_test.iloc[r_no,:])).reshape(1,-1))[0])
Y_test[r_no]  # Actual value

84.92631578947369

84.5